.navigation__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5.3rem;
}

.hero__main-container {
	display: flex;
	flex-direction: row;
}

.hero__main {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
	height: auto;
	margin-top: -7rem;
	/* height: 550px; */
}

#carousel__main {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.hero__carousel-div {
	position: relative;
	width: 100%;
	flex-shrink: 0;
	z-index: -10;
}

.containersssssss {
	position: relative;
	margin-top: 4%;
	width: 70%;
	border: 0.5px solid white;
}

/* .progress_1,
.progress_2,
.progress_3,
.progress_4 {
  width: 0%;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  margin-top: -4px;
  border-radius: 10px;
} */

.progresses {
	width: 0%;
	height: 8px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	margin-top: -4px;
	border-radius: 10px;
}

.progress_1_inactive,
.progress_2_inactive,
.progress_3_inactive,
.progress_4_inactive {
	width: 0%;
	height: 8px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	margin-top: -4px;
	border-radius: 10px;
	transition: none;
}

#myProgress {
	width: 100%;
	background-color: #ddd;
	height: 1px;
}

#myBar {
	width: 20%;
	height: 5px;
	background-color: black;
	border-radius: 20px;
	z-index: 9;
}

.hero__carousel-text {
	margin-top: -30%;
	margin-left: 12%;
	width: 100%;
}

.hero__carousel-text__city {
	font-family: var(--city-font-family);
	font-style: var(--city-font-style);
	font-weight: var(--city-font-weight);
	font-size: var(--city-font-size);
	line-height: var(--city-line-height);
	text-transform: var(--city-text-transform);
	color: var(--city-text-color);
}

.hero__carousel-text__city-description {
	width: 70%;
	font-family: var(--city-description-font-family);
	font-style: var(--city-description-font-style);
	font-weight: var(--city-description-font-weight);
	font-size: var(--city-description-font-size);
	line-height: var(--city-description-line-height);
	color: var(--city-description-text-color);
}

.carousel__main-transition {
	transition: transform 0.7s ease-in-out;
}

.hero__aunty {
	flex: 20%;
	z-index: 250;
}

.hero__aunty-img {
	width: 90%;
	height: 90%;
	margin-left: 35%;
	margin-top: 8%;
}

.hero__carousel {
	overflow: hidden;
	flex: 40%;
}

.hero__carousel-img {
	width: 100%;
	/* flex-shrink: 0; */
	/* height: 90%; */
}

.hero__navigation {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.hero__navigation-logo {
	flex: 20%;
	align-items: center;
	justify-content: center;
}

.hero__navigation-list {
	flex: 80%;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
}

.hero__carousel-div {
	z-index: 10;
}

@media all and (max-width: 992px) {
	.hero__main {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		height: auto;
		/* height: 500px; */
	}

	.hero__aunty {
		flex: 20%;
		z-index: 250;
	}

	.hero__aunty-img {
		width: 90%;
		height: 90%;
		margin-left: 35%;
		margin-top: 8%;
	}

	.hero__carousel {
		flex: 40%;
	}

	.hero__carousel-img {
		width: 100%;
		/* height: 90%; */
	}
}

@media all and (min-width: 993px) and (max-width: 1200px) {
	.hero__main {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		height: auto;
		/* height: 525px; */
	}

	.hero__aunty {
		flex: 20%;
		z-index: 250;
	}

	.hero__aunty-img {
		width: 90%;
		height: 90%;
		margin-left: 35%;
		margin-top: 8%;
	}

	.hero__carousel {
		flex: 40%;
	}

	.hero__carousel-img {
		width: 100%;
		/* height: 90%; */
	}
}

@media all and (max-width: 700px) {
	.hero__main {
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
		height: auto;
		margin-top: 0rem;
		/* height: 500px; */
	}

	.hero__aunty {
		flex: 20%;
		z-index: 250;
	}

	.hero__aunty-img {
		width: 90%;
		height: 90%;
		margin-left: 35%;
		margin-top: 8%;
	}

	.hero__carousel {
		flex: 40%;
	}

	.hero__carousel-img {
		width: 100%;
	}
}

@media all and (max-width: 576px) {
	.hero__main {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0rem;
	}

	.hero__carousel-text {
		margin-top: -49%;
		margin-left: 4%;
		width: 95%;
	}

	.hero__aunty {
		width: 75%;
		z-index: 250;
	}

	.hero__aunty-img {
		width: 100%;
		height: auto;
		margin-top: -40%;
		margin-left: 0;
	}

	.hero__carousel {
		width: 100%;
	}

	.hero__carousel-img {
		width: 100%;
		height: 100%;
	}

	.hero__carousel-text__city {
		font-family: var(--city-font-family);
		font-style: var(--city-font-style);
		font-weight: var(--city-font-weight);
		font-size: 2rem;
		line-height: 4.6rem;
		text-transform: var(--city-text-transform);
		color: var(--city-text-color);
	}

	.hero__carousel-text__city-description {
		font-family: var(--city-description-font-family);
		font-style: var(--city-description-font-style);
		font-weight: var(--city-description-font-weight);
		font-size: 1.2rem;
		line-height: 1.8rem;
		color: var(--city-description-text-color);
		width: 100%;
	}
	.containersssssss {
		position: relative;
		width: 40%;
		border: 0.5px solid white;
		visibility: hidden;
	}

	.progress_1,
	.progress_2,
	.progress_3,
	.progress_4 {
		width: 0%;
		height: 8px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		margin-top: -4px;
		border-radius: 10px;
		/* transition: width 6s ease-in-out; */
	}
}
